---
import Layout from '../layouts/Layout.astro';
import HeroSidebar from '../components/HeroSidebar.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Contact from '../components/Contact.astro';
import TechStack from '../components/TechStack.astro';
import SectionTitle from '../components/SectionTitle.astro';
import TopNavbar from '../components/TopNavbar.astro';
import Experience from '../components/Experience.astro';
import Certifications from '../components/Certifications.astro';

import { projects } from '../data/projects';
---

<Layout title="Mario Acuña | Ingeniero en Informática">

    <TopNavbar />

    <main class="min-h-screen flex flex-col lg:flex-row">
        
        <div id="top" class="absolute top-0"></div>
        
        <HeroSidebar />

        <section class="w-full lg:w-2/3 lg:ml-[33.33333%] bg-primary-bg p-6 md:p-12 lg:p-24 flex flex-col gap-20 lg:gap-32 pt-24 lg:pt-24">
            
            <div id="proyectos" class="flex flex-col pt-10">
                <SectionTitle 
                    title="PROYECTOS" 
                    count={`01 — 0${projects.length}`} 
                />

                <div class="flex flex-col gap-16 lg:gap-24">
                    {projects.map((project) => (
                        <ProjectCard 
                            number={project.number}
                            category={project.category}
                            title={project.title}
                            description={project.description}
                            stack={project.stack}
                            image={project.image}
                            link={project.link}
                        />
                    ))}
                </div>
            </div>

            <div id="experiencia" class="pt-10 lg:pt-20">
                <SectionTitle title="TRAYECTORIA" count="LOGS" />
                <Experience />
            </div>

            <div id="certificaciones" class="pt-10 lg:pt-20">
                <SectionTitle title="CERTIFICACIONES" count="CERTS" />
                <Certifications />
            </div>

            <div id="stack" class="pt-10 lg:pt-20">
                 <SectionTitle title="STACK" count="SPECS" />
                 <TechStack />
            </div>

            <div id="contacto">
                <Contact email="marioacuna06@gmail.com" />
            </div>

        </section>

    </main>
</Layout>